In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('restaurant_customer_satisfaction.csv')

**a**.Is Age correlated significantly with Average Spend?

In [3]:
cr = df[['Age', 'AverageSpend']].corr()
cr

                   Age  AverageSpend
Age           1.000000      0.017765
AverageSpend  0.017765      1.000000

b.Calculate the mean average spending for both the genders separately.

In [4]:
spend_gender = df.groupby('Gender')['AverageSpend'].mean()
print(spend_gender)

Gender
Female    105.471643
Male      105.850916
Name: AverageSpend, dtype: float64

c. Calculate the mean of Age for all the categories of Time of Visit separately.

In [5]:
time = df.groupby('TimeOfVisit')['Age'].mean()
time

TimeOfVisit
Breakfast    43.559289
Dinner       43.500000
Lunch        44.432271
Name: Age, dtype: float64

d.Among the people rarely visiting, what is the most preferred cuisine by percentage?

In [6]:
# prefR = df[df['VisitFrequency'] == 'Rarely']['PreferredCuisine']
# prefR.max()
df[df['VisitFrequency']=="Rarely"]["PreferredCuisine"].value_counts(normalize=True).reset_index().head(1)

  PreferredCuisine  proportion
0          Italian    0.290735

e.Among the people weekly visiting, what is the most frequent meal type?

In [7]:
prefW = df[df['VisitFrequency'] == 'Weekly']['PreferredCuisine']
prefW.value_counts().head(1)

PreferredCuisine
Chinese    130
Name: count, dtype: int64

f. Among the business type of dining occasion, what is most frequent preferred cuisine?

In [8]:
df[df['VisitFrequency'] == 'Weekly'][df['PreferredCuisine']=='Mexican'].count()

C:\Users\geet1\AppData\Local\Temp\ipykernel_14968\1383139106.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['VisitFrequency'] == 'Weekly'][df['PreferredCuisine']=='Mexican'].count()

CustomerID              127
Age                     127
Gender                  127
Income                  127
VisitFrequency          127
AverageSpend            127
PreferredCuisine        127
TimeOfVisit             127
GroupSize               127
DiningOccasion          127
MealType                127
OnlineReservation       127
DeliveryOrder           127
LoyaltyProgramMember    127
WaitTime                127
ServiceRating           127
FoodRating              127
AmbianceRating          127
HighSatisfaction        127
dtype: int64

In [9]:
df[df['VisitFrequency'] == 'Rarely'][['PreferredCuisine']].max()

PreferredCuisine    Mexican
dtype: object

In [10]:
rare_visitors = df[df['VisitFrequency'].isin(['Rarely', 'Monthly'])]
rare_visitors

,CustomerID,Age,Gender,Income,VisitFrequency,AverageSpend,PreferredCuisine,TimeOfVisit,GroupSize,DiningOccasion,MealType,OnlineReservation,DeliveryOrder,LoyaltyProgramMember,WaitTime,ServiceRating,FoodRating,AmbianceRating,HighSatisfaction
1,655,19,Male,43623,Rarely,115.408622,American,Dinner,1,Casual,Dine-in,0,0,0,57.524294,5,5,3,0
3,657,43,Male,96768,Rarely,43.508508,Indian,Lunch,1,Celebration,Dine-in,0,0,0,7.552993,4,5,1,0
4,658,55,Female,67937,Monthly,148.084627,Chinese,Breakfast,1,Business,Takeaway,0,0,1,37.789041,2,3,5,0
5,659,42,Female,28860,Monthly,111.064696,Chinese,Dinner,8,Celebration,Takeaway,0,1,1,26.853298,4,5,3,0
10,664,21,Male,79249,Monthly,39.235383,American,Breakfast,5,Business,Takeaway,0,1,0,18.948572,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2142,25,Female,138277,Monthly,190.013468,American,Lunch,7,Casual,Takeaway,0,0,1,51.977724,3,5,5,0
1490,2144,20,Male,106717,Rarely,105.323720,Indian,Breakfast,5,Casual,Takeaway,1,1,0,17.525024,3,2,3,1
1492,2146,20,Male,41041,Rarely,59.403047,Italian,Dinner,4,Business,Dine-in,0,0,1,50.064920,2,4,2,0
1495,2149,39,Male,114857,Monthly,163.015254,American,Lunch,2,Business,Dine-in,0,1,1,7.206275,1,2,1,0
1497,2151,46,Male,119159,Monthly,150.088604,American,Lunch,4,Casual,Dine-in,0,1,0,3.925785,3,3,3,1

In [11]:
df

,CustomerID,Age,Gender,Income,VisitFrequency,AverageSpend,PreferredCuisine,TimeOfVisit,GroupSize,DiningOccasion,MealType,OnlineReservation,DeliveryOrder,LoyaltyProgramMember,WaitTime,ServiceRating,FoodRating,AmbianceRating,HighSatisfaction
0,654,35,Male,83380,Weekly,27.829142,Chinese,Breakfast,3,Business,Takeaway,0,1,1,43.523929,2,5,4,0
1,655,19,Male,43623,Rarely,115.408622,American,Dinner,1,Casual,Dine-in,0,0,0,57.524294,5,5,3,0
2,656,41,Female,83737,Weekly,106.693771,American,Dinner,6,Celebration,Dine-in,0,1,0,48.682623,3,4,5,0
3,657,43,Male,96768,Rarely,43.508508,Indian,Lunch,1,Celebration,Dine-in,0,0,0,7.552993,4,5,1,0
4,658,55,Female,67937,Monthly,148.084627,Chinese,Breakfast,1,Business,Takeaway,0,0,1,37.789041,2,3,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,2149,39,Male,114857,Monthly,163.015254,American,Lunch,2,Business,Dine-in,0,1,1,7.206275,1,2,1,0
1496,2150,37,Female,133506,Weekly,190.991911,Italian,Lunch,4,Casual,Takeaway,0,0,0,37.863952,5,2,2,0
1497,2151,46,Male,119159,Monthly,150.088604,American,Lunch,4,Casual,Dine-in,0,1,0,3.925785,3,3,3,1
1498,2152,24,Male,27970,Weekly,196.363626,Italian,Dinner,6,Casual,Dine-in,1,1,0,24.228038,2,2,4,1
1499,2153,51,Male,148333,Weekly,171.119498,Chinese,Breakfast,4,Casual,Dine-in,1,1,1,39.402163,4,5,4,1

g. With the group size bigger than 5, what is percentage of business type of dining occasion?

In [12]:
result = df[(df['GroupSize'] > 5) & (df['DiningOccasion'] == 'Business')].value_counts(normalize=True).reset_index()
result

,CustomerID,Age,Gender,Income,VisitFrequency,AverageSpend,PreferredCuisine,TimeOfVisit,GroupSize,DiningOccasion,MealType,OnlineReservation,DeliveryOrder,LoyaltyProgramMember,WaitTime,ServiceRating,FoodRating,AmbianceRating,HighSatisfaction,proportion
0,660,20,Female,131104,Weekly,120.236707,Indian,Lunch,6,Business,Dine-in,0,0,0,7.927917,5,4,1,0,0.004425
1,1786,44,Female,41586,Daily,114.973428,Chinese,Breakfast,8,Business,Takeaway,0,0,0,13.551543,4,3,4,0,0.004425
2,1593,32,Male,24011,Rarely,76.104884,Mexican,Dinner,6,Business,Dine-in,0,1,1,40.398867,2,5,2,0,0.004425
3,1598,56,Male,135985,Weekly,144.711076,American,Lunch,6,Business,Takeaway,0,0,1,56.403319,1,1,5,0,0.004425
4,1601,65,Female,55794,Rarely,45.286599,Chinese,Lunch,8,Business,Takeaway,0,1,1,4.016771,1,5,5,0,0.004425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,1172,69,Female,44257,Weekly,12.442556,American,Breakfast,7,Business,Takeaway,0,0,0,58.838517,1,2,1,0,0.004425
222,1175,63,Female,126805,Rarely,103.544011,Indian,Breakfast,6,Business,Dine-in,1,0,1,53.673199,4,4,3,0,0.004425
223,1184,18,Female,101889,Weekly,95.510432,American,Breakfast,7,Business,Dine-in,0,0,0,18.194578,3,3,2,0,0.004425
224,1193,63,Male,66271,Weekly,115.786116,Chinese,Breakfast,7,Business,Takeaway,0,1,1,36.286799,2,4,2,0,0.004425
225,2147,62,Male,135684,Weekly,128.943101,Italian,Lunch,6,Business,Takeaway,1,1,1,24.097052,3,1,5,1,0.004425

In [13]:
group_size_gt_5 = df[df['GroupSize'] > 5]
business_percentage = (group_size_gt_5['DiningOccasion'] == 'Business').mean() * 100
business_percentage

33.33333333333333

h.	Among the customers preferring Chinese cuisine, how much percentage are satisfied?

In [14]:
chinese_preference = df[df['PreferredCuisine'] == 'Chinese']
satisfied_percentage = (chinese_preference['HighSatisfaction'] == 1).mean() * 100
satisfied_percentage

13.548387096774196

i.	What is average rating given to the food by the customers preferring Chinese cuisine?

In [15]:
chinese_preference = df[df['PreferredCuisine'] == 'Chinese']
chinese_preference['FoodRating'].mean()

3.0709677419354837

j.	For the customers preferring Chinese cuisine, how much is the average waiting time?

In [16]:
chinese_preference = df[df['PreferredCuisine'] == 'Chinese']
chinese_preference['WaitTime'].mean()

29.51653917994555

## ML

### 2.	Do the following considering encoded HighSatisfaction as response(dependent) variable:
a.	Do the hot encoding / dummying of all the non-numeric variables

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            1500 non-null   int64
 1   Age                   1500 non-null   int64
 2   Gender                1500 non-null   object
 3   Income                1500 non-null   int64
 4   VisitFrequency        1500 non-null   object
 5   AverageSpend          1500 non-null   float64
 6   PreferredCuisine      1500 non-null   object
 7   TimeOfVisit           1500 non-null   object
 8   GroupSize             1500 non-null   int64
 9   DiningOccasion        1500 non-null   object
 10  MealType              1500 non-null   object
 11  OnlineReservation     1500 non-null   int64
 12  DeliveryOrder         1500 non-null   int64
 13  LoyaltyProgramMember  1500 non-null   int64
 14  WaitTime              1500 non-null   float64
 15  ServiceRating         1500 non-null   int64
 16  FoodRating            1500 non-null   int64
 17  AmbianceRating        1500 non-null   int64
 18  HighSatisfaction      1500 non-null   int64
dtypes: float64(2), int64(11), object(6)
memory usage: 222.8+ KB

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
df_encoded = pd.get_dummies(df, drop_first=True)

In [ ]:
X = df_encoded.drop(columns=['HighSatisfaction'])  
y = df_encoded['HighSatisfaction']

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import accuracy_score, log_loss

# parameter grids for each model
# Define models and their parameter grids
models_params = {
    'SVC (linear)': {
        'model': SVC(kernel='linear', probability=True),
        'params': {'C': [0.1, 1, 10, 100]}
    },
    'SVC (rbf)': {
        'model': SVC(kernel='rbf', probability=True),
        'params': {'C': [0.1, 1, 10, 100], 'gamma': ['scale', 'auto', 0.01, 0.001, 0.0001]}
    },
    'Decision Tree': {
        'model': DecisionTreeClassifier(),
        'params': {'max_depth': [None, 10, 20, 30, 40], 'min_samples_split': [2, 5, 10]}
    },
    'Random Forest': {
        'model': RandomForestClassifier(),
        'params': {'n_estimators': [10, 50, 100, 200], 'max_depth': [None, 10, 20, 30], 'min_samples_split': [2, 5, 10]}
    }
}

In [ ]:
best_models = {}
log_losses = {}

In [25]:
# Define models and corresponding parameter grids
models = {
    'SVC (linear)': (SVC(kernel='linear', probability=True), param_grid_svc_linear),
    'SVC (rbf)': (SVC(kernel='rbf', probability=True), param_grid_svc_rbf),
    'Decision Tree': (DecisionTreeClassifier(), param_grid_decision_tree),
    'Random Forest': (RandomForestClassifier(), param_grid_random_forest)
}

In [ ]:
# Loop over each model, performing GridSearchCV and calculating metrics
for model_name, config in models_params.items():
    model = config['model']
    param_grid = config['params']
    
    # Set up GridSearchCV
    grid_search = GridSearchCV(model, param_grid, cv=5, scoring='accuracy')
    grid_search.fit(X_train, y_train)
    
    # Best model from GridSearchCV
    best_model = grid_search.best_estimator_
    
    # Predict on test data and calculate accuracy and log loss
    y_pred = best_model.predict(X_test)
    y_pred_proba = best_model.predict_proba(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    log_loss_score = log_loss(y_test, y_pred_proba)
    
    # Store results
    best_models[model_name] = best_model
    log_losses[model_name] = log_loss_score
    
    print(f"{model_name} - Best Parameters: {grid_search.best_params_}")
    print(f"{model_name} - Accuracy: {accuracy:.4f}, Log Loss: {log_loss_score:.4f}")

# Determine the model with the lowest log loss
best_model_name = min(log_losses, key=log_losses.get)
print(f"\nThe model with the lowest log loss score is: {best_model_name} with a log loss of {log_losses[best_model_name]:.4f}")