In [4]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest

In [5]:
milk = pd.read_csv('milk.csv',index_col=0)

In [6]:
milk.head()

           water  protein  fat  lactose   ash
Animal
HORSE       90.1      2.6  1.0      6.9  0.35
ORANGUTAN   88.5      1.4  3.5      6.0  0.24
MONKEY      88.4      2.2  2.7      6.4  0.18
DONKEY      90.3      1.7  1.4      6.2  0.40
HIPPO       90.4      0.6  4.5      4.4  0.10

In [7]:
iso = IsolationForest(random_state=24,n_estimators=25,contamination=0.05)

In [11]:
iso.fit_predict(milk)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1, -1])

In [13]:
df_clust = pd.DataFrame({'animal':list(milk.index),'predict':iso.fit_predict(milk)})

In [16]:
df_clust  # Here seal and dolphin are outliers

        animal  predict
0        HORSE        1
1    ORANGUTAN        1
2       MONKEY        1
3       DONKEY        1
4        HIPPO        1
5        CAMEL        1
6        BISON        1
7      BUFFALO        1
8   GUINEA PIG        1
9          CAT        1
10         FOX        1
11       LLAMA        1
12        MULE        1
13         PIG        1
14       ZEBRA        1
15       SHEEP        1
16         DOG        1
17    ELEPHANT        1
18      RABBIT        1
19         RAT        1
20        DEER        1
21    REINDEER        1
22       WHALE        1
23        SEAL       -1
24     DOLPHIN       -1